<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input name="filter" type="text" [(ngModel)]="filter" (keyup)="doFilter()"/>
          <button type="button" class="btn btn-danger" *ngIf="filter" (click)="clearFilter()">X</button>
          <button type="button" class="btn btn-default" (click)="createUser()">Create</button>
        </div>
        <a class="navbar-brand">Angular Workshop</a>
      </form>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>E-mail</th>
    <th>Date created</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of filteredUsers" (click)="getUser(user.id)" class="clickable">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.dateCreated | date:'dd-MM-yyyy HH:mm:ss'}}</td>
  </tr>
  </tbody>
</table>
