<div class="page-header">
  <h3>Create user</h3>
</div>

<form (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">

  <field label="First name" error="Please enter a first name.">
    <input type="text" name="firstName" [(ngModel)]="user.firstName" required/>
  </field>

  <field label="Last name" error="Please enter a last name.">
    <input type="text" name="lastName" [(ngModel)]="user.lastName" required/>
  </field>

  <field label="E-mail" error="Please enter a valid e-mail address.">
    <input type="text" name="email" [(ngModel)]="user.email" required pattern=".+@.+"/>
  </field>

  <div class="row">
    <div class="col-sm-8 text-right">
      <button class="btn btn-default" type="button" (click)="goBack()">Back</button>
      <button class="btn btn-primary" type="submit" [disabled]="!form.form.valid">Save</button>
    </div>
  </div>

</form>
